{% extends "base.html" %}
<!--소장도서 출력 페이지-->
{% block title %}Cosmic Library{% endblock %}

{% block content %}
  <div class="container" style="margin-top:20px;">
    <ul class="list-group">
      {% for i in book %}
        <li id="content" class="list-group-item active" aria-current="true">도서명:
          {{i.title}}</li>
        <li id="content" class="list-group-item">저자:
          {{i.author}}</li>
        <li id="content" class="list-group-item">출판사:
          {{i.publisher}}</li>
        <li id="content" class="list-group-item">대여상태:
            {{i.rentStatus}}</li>
        <li id="content" class="list-group-item">대여자:
              {{i.rentUser}}</li>
        <li id="content" class="list-group-item">대여일:
                {{i.startRent}}</li>
                
              
        <li id="content" class="list-group-item">
          <img src={{i.cover}} width="100px"></li>
        <form method="POST" action="{% url 'library:detail' %}">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}">
          {% include "form_errors.html" %}
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewbox="0 0 16 16">
            <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
          </svg>
          <button class="btn btn-outline-info" type="submit" name="ISBN" value="{{i.ISBN}}">상세정보 보기</button>
        </form>
        <form action="{% url 'library:returnBook' %}" method='POST'>
          {% csrf_token %}
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewbox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
          </svg>
          <button class="btn btn-outline-info" value={{i.id}} name="bookid">소장목록 반납</button>
        </form>
        <form action="{% url 'library:rentBook' %}" method='POST'>
          {% csrf_token %}
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewbox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
          </svg>
          <button class="btn btn-outline-info" name="isbn" value={{i.ISBN}}>책 빌리기</button>
        </form>
      {% endfor %}
    </ul>
  </div>

{% endblock %}
