{% extends "base.html" %}
<!--소장도서 출력 페이지-->
{% block title %}Cosmic Library{% endblock %}

{% block content %}
<div class="container shadow p-3 mb-5 bg-body rounded" style="margin-top:20px;box-shadow: 5px 5px gray;">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col" style="width:40%;">제목</th>
        <th scope="col">저자</th>
        <th scope="col">출판사</th>
        <th scope="col">상태</th>
        <th scope="col">대출자</th>
        <th scope="col">대출일</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for i in book %}
      <tr>
        <td class="align-middle">
          <img src={{i.cover}} style="width:40px;height:50px;">
        </td>
        <td class="align-middle">
          <div class="align-self-center">{{i.title}}</div>
        </td>
        <td class="align-middle">
          {{i.author|slice:":3"}} 등</td>
        <td class="align-middle">
          {{i.publisher}}{{ value }}</td>
        <td class="align-middle">
          {{i.rentStatus}}</td>
        <td class="align-middle">
          {{i.rentUser}}</td>
        <td class="align-middle">{{i.startRent|date:"y/m/d"}}</td>
        <td class="align-middle">
          {% if is_staff %}
          <form class="form-inline" style="display:inline" action="{% url 'library:returnBook' %}" method='POST'
            onsubmit="return returnOurBook();">
            {% csrf_token %}
            <button class="btn btn-outline-info" value={{i.id}} name="bookid">삭제</button>
          </form>
          {% endif %}

          {% if user.is_authenticated and i.rentStatus == "소장중" %}
          <form class="form-inline" style="display:inline" action="{% url 'library:rentBook' %}" method='POST'
            onsubmit="return rentBook();">
            {% csrf_token %}
            <button class="btn btn-outline-info" name="bookid" value={{i.id}}>대출</button>
          </form>
          {% endif %}
          {% if user.is_authenticated and i.rentUser == username %}
          <form class="form-inline" style="display:inline" action="{% url 'library:rentalReturnBook' %}" method='POST'
            onsubmit="return returnBook();">
            {% csrf_token %}
            <button class="btn btn-outline-info" name="bookid" value={{i.id}}>반납</button>
          </form>
          {% endif %}

        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <!-- 페이징 -->
  <ul class="pagination justify-content-center">
    <!-- 이전페이지 -->
    {% if list_.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ list_.previous_page_number }}">이전</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
    </li>
    {% endif %}
    <!-- 페이지리스트 -->
    {% for page_number in list_.paginator.page_range %}
    {% if page_number == list_.number %}
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
    </li>
    {% else %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
    </li>
    {% endif %}
    {% endfor %}
    <!-- 다음페이지 -->
    {% if list_.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ list_.next_page_number }}">다음</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
    </li>
    {% endif %}
</div>
{% endblock %}